.App {
  text-align: center;
  height: 500vh;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
  width: 95%;
  max-width: 100rem;
  position: relative;
  margin: 0px auto;
  padding: 0px 1.875rem;
}

#head1ListLogo {
  width: 55px;
  aspect-ratio: auto 55 / 55;
}

.App-header1 {
  background-color: #ffcf00;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-top: 10px;
  justify-content: center;
}

#header1list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  z-index: 1;
  background-color: #ffcf00;
  padding: 5px;
}

h6 {
  /* text-transform: uppercase; */
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  border-bottom: 3px solid transparent;
  margin: 0px 30px;
}

#holidayButt {
  color: red;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#playZoneButt {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 3px;
  border: none;
  background: rgb(171, 217, 255);
  color: rgb(0, 0, 0);
  font-size: 0.75rem;
  line-height: 1.5625rem;
  text-transform: uppercase;
  padding: 0px 0.1 00rem;
  box-shadow: rgba(48, 85, 181, 0.44) 0px 1px 4px 0px;
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

#playZoneButt:hover {
  text-decoration: none;
  background: rgb(255, 255, 255);
}

#playZoneButtIcon {
  height: 10px;
  width: 20px;
  margin-right: 10px;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 3px;
  border: none;
  background: rgb(171, 217, 255);
  color: rgb(0, 0, 0);
  font-size: 0.75rem;
  line-height: 1.5625rem;
  text-transform: uppercase;
  padding: 0px 0.625rem;
  box-shadow: rgba(48, 85, 181, 0.44) 0px 1px 4px 0px;
}

#headerPara {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  justify-content: space-between;
}

a {
  text-decoration: none;
  margin: 10px;
}

#signInlogo {
  background-color: transparent;
  mix-blend-mode: multiply;
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}

#logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
}

#logos>a {
  color: rgb(0, 0, 0);
  font-size: 0.75rem;
  line-height: 1.1875rem;
  margin-left: 0%;
}

#heartLogo {
  mix-blend-mode: multiply;
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}

#blockLogo {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.625rem;
}


#headerPara>a {
  color: rgb(0, 109, 183);
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 1.1875rem;
  font-weight: 400;
  text-transform: inherit;
}

#headerPara>p {

  font-size: 0.75rem;
  line-height: 1.1875rem;
  font-weight: 400;
  text-transform: inherit;
}

#signInBar>p {
  font-weight: 500;
  font-size: 0.75rem;
}


#signInBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#searchLogo {
  background-color: white;
  width: 40px;
  border-radius: 20px;
}

#searchLogo1 {
  background-color: #ffcf00;
  width: 40px;
  border-radius: 20px;
  margin-left: 100px;
}

#firstDivImg {
  width: 100%;
}

#firstDivCont {
  display: flex;
  flex-direction: row;
}

#firstDivPara {
  position: absolute;
  color: white;
  text-align: left;
}

#secondDivImg {
  height: 300px;
  width: 300px;
  flex-grow: 1;
  position: absolute;
  left: -50px;
  top: 150px;
}

#contUs {
  width: 800px;
  /* background-color: beige; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#contUs:hover {
  cursor: pointer;
  text-decoration: underline;
}

#c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contUsImg {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

#alpha {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#secondDiv {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  justify-content: space-between;
  padding: 20px 0;
}

#contUsImg {
  display: flex;
  flex-direction: row;
}

#secondDivParent {
  display: flex;
  flex-direction: row;
  /* background-color: aqua; */
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 70px;
}

#Div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#firstDivParent {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  height: 120px;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  border-radius: 10px;
  width: fit-content;
  margin: 40px 0 60px 0;
  padding-right: 60px;
}

#firstDiv1ele {
  background-color: lightskyblue;
  width: 5px;
  height: 120px;
  padding: 0%;
  border-radius: 10px;
}

#firstDivImg {
  width: 30px;
  height: 30px;
  margin: 0 25px;
  mix-blend-mode: multiply;
}

#firstDiv1Para {
  text-align: left;
  font-size: 18px;
}

.secDivEle h3 {
  margin-left: 40px;
  margin-top: -5px;
}

.secDivEle p {
  margin-left: 40px;
  text-align: left;
}



.secDivEle {
  height: 230px;
  width: 350px;
  border: 1px solid black;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0%;
}



.secDivEle:hover {
  background-color: rgb(177, 174, 174);
}

#thirdDivImg {
  height: 450px;
  width: 450px;
}

#thirdDivParent {
  display: flex;
  flex-direction: row;
  background-color: #00AF4D;
  justify-content: center;
  align-items: center;
  height: 500px;
}

#thirdDivPara {
  font-size: clamp(1.25rem, 1.63265vw + .867347rem, 2.5rem);
  line-height: 1.3;
  text-align: left;
}

#thirdDivPara>p {
  letter-spacing: 0;
  font-size: clamp(.9375rem, .244898vw + .880102rem, 1.125rem);
  line-height: 1.5;
}

#thirdDivPara>button {
  background-color: black;
  color: #f6f6f6;
  padding: 10px 50px;
  border-radius: 30px;
  border: none;
}

#searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  /* background-color: #ffc20e; */
  width: 80%;
  border: solid black;
  padding: 0%;
}

#forthDivParent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
}

input {
  padding: 20px 10px;
  width: 800px;
  border: none;
  margin-left: 40px;
}

#fourthDivButt {
  border: solid darkblue;
  margin: 30px 0px;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
}

#fifthDivParent {
  display: flex;
  flex-direction: row;
  background-color: #78bfea;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: fit-content;
}

#footerParent {

  background-color: rgb(32, 29, 72);
  color: white;
  height: 800px;
}

#footer1Div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

#footer1Div h4 {
  margin-bottom: 10%;
  font-weight: bold;

}

.h4child {
  font-weight: 50px;
}

#footImg {
  height: 90px;
  width: 90px;
  margin: 10px;
}

#footerInput {
  padding: 19px 10px;
  width: 200px;
  border: none;
}

.footer1Div1Ele {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#footerButt {
  padding: 18px 15px;
  background-color: #FD8024;
}

#footer1Div2ele {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

#followUsDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 180px;
}

#footerFolLogosCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
}

#footer2Div1ele {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: 18px;
  font-size: 15px;
}

#footerLoc {
  background-color: black;
  width: fit-content;
  padding: 5px;
}

#footer1Div2ele div {
  margin-left: 15px;
}

#footer1Div2ele input {
  margin-left: 0px;
  margin-top: 20px;
}

.footFolLogo {
  width: 50px;
  height: 50px;
}

a:hover {
  text-decoration: underline;
}

#footer2Div1ele>a {
  font-size: smaller;
}

#footerPara {
  text-align: left;
  margin-left: 20px;
}

#fifthDivPara {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#fifthDivPara button {

  background-color: black;
  color: #f6f6f6;
  padding: 15px 50px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-size: medium;
}

#fifthDivImg {
  height: 450px;
  width: 450px;
  margin-right: 300px;
}

#sixthDivParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  padding: 20px;
}

#sixthDivParent button {
  background-color: transparent;
  color: black;
  padding: 15px 50px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-size: medium;
}

#sixthDivParent button:hover {
  background-color: lightgrey;
}